@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components
@* question 这个using 不能在_import.cs 也不能在imports.razor里 ?? *@


<div class="container">
    <div class="filter-sort-container">
        <SfDropDownList DataSource="@_filterDropList" @bind-Value="SelectedFilter" TValue="string" TItem="DropListItem"
            Width="auto" PopupHeight="500px" PopupWidth="250px" Placeholder="Filter by" CssClass="filter-sort">
            <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
        </SfDropDownList>
        <SfDropDownList DataSource="@_sortDropList" @bind-Value="SelectedSort" TValue="string" TItem="DropListItem"
            Width="auto" PopupHeight="500px" PopupWidth="250px" Placeholder="Sort by" CssClass="filter-sort">
            <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
    <div class="infos-container">
        <h3 class="inof-title">Acme Inc</h3>
        <div class="week-choose-container">
            <SfButtonGroup CssClass="week-change-btn-group">
                <ButtonGroupButton IconCss="e-icons e-chevron-left" @onclick="PrevWeekClick"
                    CssClass="week-change-button prev-week-button">
                </ButtonGroupButton>
                <ButtonGroupButton IconCss="e-icons e-chevron-right" @onclick="NextWeekClick"
                    CssClass="week-change-button next-week-button">
                </ButtonGroupButton>
            </SfButtonGroup>
            <SfDropDownList Width="200px" TValue="int" TItem="DateDropListItem" Placeholder="@_dateDropList[0].Text"
                DataSource="@_dateDropList" @bind-Value="@DateSkipValue" PopupHeight="500px" PopupWidth="250px"
                CssClass="week-change-list">
                <DropDownListFieldSettings Value="DateSkipValue" Text="Text"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
        <div class="table">
            @* <li class="column-deco-one"></li> *@
            @* <li class="decoretion-top"></li> *@
            <li class="user-header" style="grid-column: 1; grid-row:1;">User
                <div class="user-count">@_userInofs.Count()</div>
            </li>
            <li class="last-active-header" style="grid-column: 2; grid-row:1;">Last Active</li>
            @{
                var dates = GetDate();
                @foreach (var date in dates)
                {
                    <DateHeaderBlock Date=date />
                }

                <li class="empty-block" style="grid-column: 10; grid-row:1;"></li>
                var teams = GetTeams();
                int rowCount = 1;
                for (int i = 0; i < teams.Count; i++)
                {
                    <li class="team-block" style="grid-column: 1/-1; grid-row:@(rowCount+1);">@teams[i].TeamName TEAM</li>
                    rowCount++;
                    for (int j = 0; j < teams[i].Users.Count; j++)
                    {
                        var user = teams[i].Users[j];
                        <li class="user-block" style="grid-column:1; grid-row:@(rowCount+1);">@user.Name</li>
                        <li class="last-active-block" style="grid-column:2; grid-row:@(rowCount+1);">@user.LastActive</li>
                        for (int l = 0; l < 7; l++)
                        {
                            <li class="content-block" style="grid-column:@(l+3); grid-row:@(rowCount+1);"></li>
                        }
                        <button class="edit-button" style="grid-row:@(rowCount+1); grid-column:10;">
                            <SfIcon Name=" IconName.Edit" Title="edit"></SfIcon>
                        </button>
                        var releventAppointsments = user.Appointments?.Where(appointment =>
                        (DateOnly.FromDateTime(appointment.BeginTime) >=
                        dates[0] && DateOnly.FromDateTime(appointment.BeginTime) <= dates.Last())).ToList();
                        for (int k = 0; k < releventAppointsments?.Count; k++)
                        {
                            <AppointmentBlock Appointment="releventAppointsments[k]" AppointmentIndex="k" RowCount="rowCount" />
                        }
                        rowCount++;
                    }
                }
            }
    </div>
</div>
<SfPager @ref="@Page" PageSize="10" PageSizes=@_pageSizes NumericItemsCount=5 TotalItemsCount=@_userInofs.Count()
    ItemClick="Click" CssClass="schedule-Table-Pager" ShowPagerMessage="false">
    @(SkipValue + 1) -
    @LastItemInThePage
    of
    @_userInofs.Count() items
</SfPager>
</div>


@*



.header-date {
padding: 0.4rem 0 0.3rem 0;
border-left: 0;
border-right: 0;
font-size: 18px;
font-weight: 500;
display: flex;
flex-direction: column;
align-content: center;
gap: 0.3rem;
position: relative;
}

.header-date > .day-span {
height: 0.9rem;
font-size: 12px;
font-weight: 400;
color: #9f9ea4;
}

.header-date::after {
position: absolute;
left: 100%;
top: 20%;
width: 1px;
height: 66.6%;
font-size: 12px;
background-color: var(--theme-color-gray);
color: black;
border-radius: 5px;
content: "";
z-index: 200;
}

.header-date.header-today,
.header-date.header-today > * {
color: #195ce5;
}

.header-date.header-today::before {
position: absolute;
left: 30%;
top: calc(100% - 0.15rem);
width: 2.25rem;
height: 0.15rem;
font-size: 12px;
background-color: #195ce5;
color: black;
border-radius: 5px;
content: "";
z-index: 201;
}

.header-cell.header-empty {
border-left: 0;
}

.table-content {
width: 45.4rem;
overflow-y: scroll;
overflow-x: hidden;
}

.team-leer-row {
height: 1.6rem;
border: 1px solid var(--theme-color-gray);
border-left: none;
background-color: #f5fbf5;
}
.team-row {
display: flex;
align-items: center;
height: 1.6rem;
padding-left: 1.05rem;
border: 1px solid var(--theme-color-gray);
border-right: none;
color: #799f79;
background-color: #f5fbf5;
font-size: 0.6rem;
font-weight: 700;
} *@
