@page "/"
@rendermode InteractiveServer
@using BlazorApp.Components.Shared

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="title-container">
        <h1>Learning Paths</h1>
        <h2>Learning Paths</h2>
        <div class="subtitle">This scheduler is the central hub for tracking and managing the automated, adaptive
            micro-learning paths.
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown-box">
            <label class="dropdown-title">Company
            </label>
            <SfDropDownList PopupHeight="500px" Width="300px" TValue="string" TItem="DropListItem"
                Placeholder="@_companyDropList[0].Text" DataSource="@_companyDropList" @bind-Value="SelectedCompany"
                CssClass="company-users-dropdown-list">
                <DropDownListFieldSettings Value="Text" Text="Text">
                </DropDownListFieldSettings>
            </SfDropDownList>
        </div>
        <div class="dropdown-box">
            <label class="dropdown-title">Users
            </label>
            <SfDropDownList Width="300px" TValue="string" TItem="DropListItem" Placeholder="@_userDropList[0].Text"
                DataSource="@_userDropList" @bind-Value="SelectedUser" PopupHeight="500px"
                CssClass="company-users-dropdown-list">
                <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <div class="filter-sort-container">
        <SfDropDownList Width="auto" TValue="string" TItem="DropListItem" Placeholder="Filter by"
            DataSource="@_filterDropList" @bind-Value="SelectedFilter" PopupHeight="500px" PopupWidth="250px"
            CssClass="filter-sort">
            <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
        </SfDropDownList>
        <SfDropDownList Width="auto" TValue="string" TItem="DropListItem" Placeholder="Sort by"
            DataSource="@_sortDropList" @bind-Value="SelectedSort" PopupHeight="500px" PopupWidth="250px"
            CssClass="filter-sort">
            <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
    <Table />
</div>

@* 强行加个option数量也许也是可以的,有下拉list的时候消失, 处于绝对位置. *@